@charset "utf-8";
body,
html {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.guanggao {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.guanggao img {
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.processbar {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.processbar .processbar-info {
  position: relative;
  top: 50%;
  padding: 0 0.4rem 0 1.45rem;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.processbar .w3-light-grey {
  color: #000 ;
  background-color: #B3B3B3;
  height: 0.3rem;
  border-radius: 0.15rem;
}
.processbar .w3-light-grey .w3-orange {
  color: #fff;
  height: 0.3rem;
  width: 1%;
  border-radius: 0.15rem;
  background: #FFF600 url("../images/img_hot.png") no-repeat 98% center;
  background-size: 0.12rem 0.12rem;
  position: relative;
}
.processbar .w3-light-grey .w3-orange:before {
  content: "";
  display: block;
  position: absolute;
  width: 0.9rem;
  height: 1rem;
  background: url("../images/jindutiao-dog.gif") no-repeat center;
  background-size: 0.9rem 1rem;
  top: -1rem;
  right: -0.3rem;
}
.btnimg {
  -webkit-transition: all;
  transition: all;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
}
.btnimg:active {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.main-login {
  width: 100%;
  height: 100%;
  background: url("../images/bg02.png") no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.main-login .lingqu-btn {
  position: absolute;
  width: 4.53rem;
  height: 1.27rem;
  background: url("../images/lingqu_btn.png") no-repeat center;
  background-size: 4.53rem 1.27rem;
  bottom: 0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.main-login .lingqu-btn:active {
  -webkit-transform: translateX(-50%) scale(0.8);
  -moz-transform: translateX(-50%) scale(0.8);
  -ms-transform: translateX(-50%) scale(0.8);
  -o-transform: translateX(-50%) scale(0.8);
  transform: translateX(-50%) scale(0.8);
}
.main-login .erci-login {
  position: absolute;
  width: 4.53rem;
  height: 1.27rem;
  background: url("../images/zhaoliao_btn.png") no-repeat center;
  background-size: 4.53rem 1.27rem;
  bottom: 0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.main-login .erci-login:active {
  -webkit-transform: translateX(-50%) scale(0.8);
  -moz-transform: translateX(-50%) scale(0.8);
  -ms-transform: translateX(-50%) scale(0.8);
  -o-transform: translateX(-50%) scale(0.8);
  transform: translateX(-50%) scale(0.8);
}
.info-rule {
  position: absolute;
  bottom: 0.1rem;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
}
.info-rule:hover {
  text-decoration: underline;
}
.info-rule:active {
  color: red;
}
.login-mask-fuwang {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99;
}
.login-mask-fuwang .fuwang {
  width: 4.07rem;
  height: 5.58rem;
  background: url("../images/huodefuwang.png") no-repeat top center;
  background-size: 4.07rem 4.58rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.login-mask-fuwang .fuwang .fuwang-rule {
  width: 3.6rem;
  height: 0.5rem;
  line-height: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0.235rem;
  background-color: #F0372E;
  color: #FFCFBE;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 4px #B51E17;
}
.rule-mask,
.growning,
.ranklist,
.friend-search {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
}
.rule-mask .rule-content,
.growning .rule-content,
.ranklist .rule-content,
.friend-search .rule-content {
  width: 100%;
  height: 60%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  border-radius: 8px 8px 0 0;
}
.rule-mask .rule-content .tit,
.growning .rule-content .tit,
.ranklist .rule-content .tit,
.friend-search .rule-content .tit {
  height: 1.05rem;
  border-bottom: 1px solid #E6E6E6;
  padding-left: 0.37rem;
  font-weight: normal;
  position: relative;
}
.rule-mask .rule-content .tit span,
.growning .rule-content .tit span,
.ranklist .rule-content .tit span,
.friend-search .rule-content .tit span {
  font-size: 15px;
  color: #333;
  position: absolute;
  bottom: 0.15rem;
  font-weight: 600;
}
.rule-mask .rule-content .tit:before,
.growning .rule-content .tit:before,
.ranklist .rule-content .tit:before,
.friend-search .rule-content .tit:before {
  content: "";
  display: block;
  width: 1.9rem;
  height: 1.9rem;
  background: url("../images/youxishuoming_logo.png") no-repeat center;
  background-size: 1.9rem 1.9rem;
  position: absolute;
  top: -0.95rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.rule-mask .rule-content .close,
.growning .rule-content .close,
.ranklist .rule-content .close,
.friend-search .rule-content .close {
  width: 0.4rem;
  height: 0.4rem;
  line-height: 0.4rem;
  text-align: center;
  position: absolute;
  top: 0.27rem;
  right: 0.16rem;
  border-radius: 50%;
  background-color: #CCC;
  color: #fff;
  font-size: 0.4rem;
}
.rule-mask .rule-content .detail,
.growning .rule-content .detail,
.ranklist .rule-content .detail,
.friend-search .rule-content .detail {
  padding: 0.25rem 0.43rem ;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 1.25rem;
}
.rule-mask .rule-content .detail p,
.growning .rule-content .detail p,
.ranklist .rule-content .detail p,
.friend-search .rule-content .detail p {
  text-indent: 2em;
  color: #4D4D4D;
  line-height: 0.3rem;
  margin-bottom: 0.2rem;
  font-size: 0.26rem;
  word-break: break-all;
}
.rule-mask .rule-content .detail p .red,
.growning .rule-content .detail p .red,
.ranklist .rule-content .detail p .red,
.friend-search .rule-content .detail p .red {
  color: #F33E34;
}
.money-tree {
  width: 100%;
  height: 100%;
  background: url(../images/bg.jpg) no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.money-tree .pep-photo {
  position: absolute;
  top: 1.26rem;
  left: 0.3rem;
}
.money-tree .pep-photo .photo {
  height: 0.56rem;
  background-color: #8DE4FE;
  padding: 0.06rem;
  border-radius: 0.28rem;
  position: relative;
}
.money-tree .pep-photo .photo .small {
  height: 0.44rem;
  background-color: #E8FAFF;
  border-radius: 0.22rem;
  position: relative;
  padding-left: 0.95rem;
  padding-right: 0.1rem;
  overflow: hidden;
}
.money-tree .pep-photo .photo .small .heart {
  position: relative;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 0.44rem;
}
.money-tree .pep-photo .photo .small .heart .heart-full {
  float: left;
  display: inline-block;
  width: 0.36rem;
  height: 0.44rem;
  background: url("../images/heart.png") no-repeat center;
  background-size: 0.36rem 0.3rem;
  margin-right: 0.06rem;
}
.money-tree .pep-photo .photo .small .heart .heart-full:last-child {
  margin-right: 0;
}
.money-tree .pep-photo .photo .small .heart .heart-half {
  background: url("../images/heart2.png") no-repeat center;
  background-size: 0.36rem 0.3rem;
}
.money-tree .pep-photo .photo img {
  position: absolute;
  width: 0.9rem;
  height: 0.9rem;
  left: -1px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.money-tree .pep-photo .voice {
  width: .4rem;
  height: .38rem;
  position: relative;
  top: 0.32rem;
  left: 0.28rem;
}
.money-tree .pep-photo .voice img {
  width: 100%;
}
.money-tree .left-cont {
  position: absolute;
  top: 1.2rem;
  right: 0.35rem;
  width: 0.95rem;
  text-align: center;
}
.money-tree .left-cont .item {
  width: 0.95rem;
  height: 1rem;
  background-color: red;
  margin-bottom: 0.2rem;
}
.money-tree .left-cont .item:last-child {
  margin-bottom: 0;
}
.money-tree .left-cont .changzhangjilu {
  background: url("../images/chengzhangjilu.png") no-repeat center;
  background-size: 0.95rem 1rem;
  position: relative;
}
.money-tree .left-cont .changzhangjilu .num {
  width: 0.4rem;
  height: 0.4rem;
  line-height: 0.4rem;
  text-align: center;
  position: absolute;
  top: 1px;
  right: -0.1rem;
  border-radius: 50%;
  background-color: #E74C2E;
  color: #fff ;
  font-size: 0.24rem;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.money-tree .left-cont .youxishuoming {
  background: url("../images/youxishuoming.png") no-repeat center;
  background-size: 0.95rem 1rem;
}
.money-tree .left-cont .paihangbang {
  background: url("../images/paihangbang.png") no-repeat center;
  background-size: 0.8rem 1rem;
}
.money-tree .red-paper {
  position: absolute;
  left: 0.4rem;
  bottom: 3rem;
  width: 1.35rem;
  height: 1.53rem;
  background: url("../images/chouhongbao.png") no-repeat center;
  background-size: 100%;
}
.money-tree .activtion {
  width: 100%;
  height: 1.16rem;
  padding: 0 0.37rem 0 0.47rem;
  position: absolute;
  bottom: 0.66rem;
}
.money-tree .activtion .item {
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
}
.money-tree .activtion .item img {
  width: 1rem;
  height: 1.16rem;
}
.money-tree .dog-main {
  width: 3.74rem;
  height: 3.87rem;
  bottom: 2.3rem;
  overflow: hidden;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
}
.money-tree .dog-main img {
  width: 3.74rem;
  height: 3.87rem;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.money-tree .dog-main .doginit {
  display: block;
}
.redbag {
  background: #EB4A4A url("../images/chouhongbaobanner.png") no-repeat center 0.8rem;
  background-size: 6.68rem 2.05rem;
}
.redbag .hongbaoinfo {
  position: relative;
  height: 100%;
}
.redbag .hongbaoinfo .fanhuiback {
  position: absolute;
  top: 2.08rem;
  right: 0.4rem;
  width: 1.6rem;
  height: 0.48rem;
  background: url("../images/fanhuizhuye.png") no-repeat center;
  background-size: 100%;
}
.redbag .hongbaoinfo .pepxinxi {
  width: 6.6rem;
  height: 1.6rem;
  background: url("../images/bolang_bg.png") no-repeat center;
  background-size: 100%;
  margin: 0 auto;
  position: absolute;
  top: 2.72rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0.3rem 0.2rem;
}
.redbag .hongbaoinfo .pepxinxi p {
  height: 0.5rem;
  color: #333333;
}
.redbag .hongbaoinfo .pepxinxi .changeinfo {
  width: 0.88rem;
  height: 0.88rem;
  display: block;
  background: url("../images/genggaixinxi_btn.png") no-repeat center;
  background-size: 100%;
  position: absolute;
  right: 0.17rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.redbag .hongbaoinfo .pepxinxi .changeinfo:active {
  -webkit-transform: translateY(-50%) scale(0.8);
  -moz-transform: translateY(-50%) scale(0.8);
  -ms-transform: translateY(-50%) scale(0.8);
  -o-transform: translateY(-50%) scale(0.8);
  transform: translateY(-50%) scale(0.8);
}
.redbag .hongbaoinfo .hongbaolist {
  width: 100%;
  position: absolute;
  top: 4.42rem;
  padding: 0 0.16rem;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 5.16rem;
}
.redbag .hongbaoinfo .hongbaolist li {
  height: 2rem;
  border-bottom: 2px dotted #B13737;
  position: relative;
  overflow: hidden;
}
.redbag .hongbaoinfo .hongbaolist li .treenum {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background: #fff url("../images/hongbao.png") no-repeat center;
  background-size: 0.69rem 0.87rem;
  position: absolute;
  top: 0.3rem;
}
.redbag .hongbaoinfo .hongbaolist li .treenum:before {
  position: absolute;
  bottom: -0.23rem;
  left: 50%;
  content: "";
  display: block;
  height: 0.4rem;
  width: 0.72rem;
  background-color: #EB4A4A;
  border-radius: 0.2rem;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.redbag .hongbaoinfo .hongbaolist li .cont-num {
  position: absolute;
  bottom: -0.16rem;
  left: 50%;
  display: block;
  height: 0.3rem;
  width: 0.62rem;
  background-color: #fff;
  border-radius: 0.15rem;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  line-height: 0.3rem;
  font-size: 0.22rem;
  color: #EB4A4A;
}
.redbag .hongbaoinfo .hongbaolist li .info-intr {
  width: 100%;
  overflow: hidden;
  padding-right: 1.6rem;
  padding-left: 1.5rem;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.redbag .hongbaoinfo .hongbaolist li .info-intr p {
  font-size: 0.22rem;
  color: #FFFFFF;
  line-height: 0.26rem;
}
.redbag .hongbaoinfo .hongbaolist li .duihuan {
  position: absolute;
  right: 0.16rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1.4rem;
  height: 0.6rem;
  background: url("../images/duihuan.png") no-repeat left center;
  background-size: 1.4rem 0.6rem;
}
.redbag .hongbaoinfo .hongbaolist li .duihuan:active {
  -webkit-transform: translateY(-50%) scale(0.8);
  -moz-transform: translateY(-50%) scale(0.8);
  -ms-transform: translateY(-50%) scale(0.8);
  -o-transform: translateY(-50%) scale(0.8);
  transform: translateY(-50%) scale(0.8);
}
.borrowList {
  height: 0.68rem;
  overflow: hidden;
  background-color: #B4F2FF;
}
.borrowList ul {
  position: relative;
}
.borrowList li {
  float: left;
  font-size: 16px;
  margin: 0;
  line-height: 0.68rem;
  width: 100%;
  color: #F33E34;
  text-align: center;
  overflow: hidden;
}
.growning .rule-content .tit:before {
  background: url(../images/chengzhangjilu_logo.png) no-repeat center;
  background-size: 1.9rem 1.9rem;
}
.growning .rule-content .detail {
  padding: 0.57rem 0.61rem 1.2rem 0.66rem;
}
.growning .rule-content .detail ul {
  border-left: 1px solid #D4D4D4;
  width: 100%;
  position: relative;
  padding-left: 0.58rem;
}
.growning .rule-content .detail ul .datatime {
  position: absolute;
  left: -0.3rem;
  top: 0;
  width: 0.6rem;
  height: 0.75rem;
  background-color: #fff;
}
.growning .rule-content .detail ul .datatime .data {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  line-height: 0.6rem;
  border-radius: 50%;
  background-color: #F33E34;
  color: #fff;
  font-size: 0.26rem;
  text-align: center;
}
.growning .rule-content .detail ul li {
  padding: 0.2rem 0.44rem 0.2rem 0.2rem;
  background-color: #F2EEED;
  border-radius: 4px;
  position: relative;
  margin-bottom: 0.48rem;
}
.growning .rule-content .detail ul li p {
  text-align: left;
  text-indent: 0;
}
.growning .rule-content .detail ul li .time {
  font-size: 0.2rem;
  color: #B3A9A8;
  margin-bottom: 0.12rem;
}
.growning .rule-content .detail ul li .info {
  font-size: 0.24rem;
  color: #807473;
  margin-bottom: 0;
}
.growning .rule-content .detail ul li .tree-img {
  position: absolute;
  right: 0.34rem;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0.9);
  -moz-transform: translateY(-50%) scale(0.9);
  -ms-transform: translateY(-50%) scale(0.9);
  -o-transform: translateY(-50%) scale(0.9);
  transform: translateY(-50%) scale(0.9);
  width: 0.7rem;
  height: 0.8rem;
  background: url("../images/135.png") no-repeat center top;
  background-size: 0.5rem 0.5rem;
  text-decoration: underline;
  color: #F35E57;
  overflow: hidden;
  font-size: 0.18rem;
  text-align: center;
  padding-top: 0.5rem;
}
.growning .rule-content .detail ul li:before {
  content: "";
  display: block;
  position: absolute;
  left: -0.16rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 0.1rem solid transparent;
  border-right: 0.2rem solid #F2EEED;
  border-bottom: 0.1rem solid transparent;
}
.growning .rule-content .detail ul li:last-child {
  margin-bottom: 0;
}
.growning .rule-content .detail ul li:last-child:after {
  content: "";
  display: block;
  width: 5px;
  height: 50%;
  background-color: #fff;
  position: absolute;
  left: -0.65rem;
  bottom: 0;
}
.ranklist .rule-content .tit:before {
  background: url(../images/paihangbang_logo.png) no-repeat center;
  background-size: 1.9rem 1.9rem;
}
.ranklist .rule-content .detail {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.ranklist .rule-content .detail ul li {
  padding: 0 0.92rem 0 0.2rem;
  height: 1rem;
  line-height: 1rem;
  border-bottom: 1px solid #E6E6E6;
}
.ranklist .rule-content .detail ul li span {
  float: left;
  height: 100%;
  overflow: hidden;
}
.ranklist .rule-content .detail ul li .level {
  text-align: center;
  width: 15.1%;
  color: #4D4D4D;
}
.ranklist .rule-content .detail ul li .name {
  text-align: left;
  padding-left: 1rem;
  width: 65.9% ;
  color: #4D4D4D;
  background: url("../images/135.png") no-repeat left center;
  background-size: 0.8rem 0.8rem;
}
.ranklist .rule-content .detail ul li .hostimg {
  background: url("../images/touxiang.png") no-repeat left center;
  background-size: 0.8rem 0.8rem;
  color: #F33E34;
}
.ranklist .rule-content .detail ul li .treenum {
  text-align: center;
  padding-top: 0.64rem;
  width: 19%;
  background: url("../images/chengzhangjilu_logo.png") no-repeat center 0.1rem;
  background-size: 0.54rem 0.54rem;
  font-size: 0.2rem;
  line-height: 0.36rem;
  color: #F33E34;
}
.ranklist .rule-content .detail ul li:nth-of-type(1) .level,
.ranklist .rule-content .detail ul li:nth-of-type(2) .level,
.ranklist .rule-content .detail ul li:nth-of-type(3) .level {
  color: #F33E34;
}
.friend-search .rule-content .tit:before {
  background: url(../images/head_photo.png) no-repeat center;
  background-size: 1.9rem 1.9rem;
}
.friend-search .rule-content .detail {
  padding-left: 0rem;
  padding-right: 0rem;
}
.friend-search .rule-content .detail .inp {
  padding-top: 0.2rem;
  padding-bottom: 0.35rem;
  text-align: center;
}
.friend-search .rule-content .detail .inp .text-input {
  -webkit-appearance: none;
  display: inline-block;
  width: 5.4rem;
  text-align: center;
  margin: 0 auto;
  height: 0.72rem;
  border: 1px solid #D4D4D4;
  border-radius: 4px;
  font-size: 0.3rem;
}
.friend-search .rule-content .detail .btn {
  text-align: center;
  border-bottom: 1px solid #E6E6E6;
}
.friend-search .rule-content .detail .btn .search-btn {
  margin: 0 auto;
  width: 2.4rem;
  height: 0.6rem;
  line-height: 0.6rem;
  border-radius: 0.3rem;
  -webkit-appearance: none;
  background: #F33E34;
  color: #fff;
  border: none;
  text-align: center;
  font-size: 0.32rem;
  margin-bottom: 0.36rem;
}
.friend-search .rule-content .detail .tit-his {
  font-weight: normal;
  padding: 0 0.37rem;
  margin-top: 0.1rem;
}
.friend-search .rule-content .detail .tit-his .zuji {
  font-size: 15px;
  color: #333;
  font-weight: 600;
}
.friend-search .rule-content .detail .listes {
  text-align: center;
}
.friend-search .rule-content .detail .listes .item {
  display: inline-block;
  width: 5.4rem;
  padding-top: 0.1rem;
}
.friend-search .rule-content .detail .listes .item a {
  color: #F33E34;
  text-decoration: underline !important;
  margin-right: 0.9rem;
  margin-bottom: 0.15rem;
}
.yqs-mask {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
}
.yqs-mask .tree {
  width: 5.14rem;
  height: 7.40rem;
  background: url("../images/hudiejie_bg.png");
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-top: 2.59rem;
  text-align: center;
}
.yqs-mask .tree p {
  text-align: center;
  color: #D92800;
  font-size: 0.3rem;
  margin-bottom: 0.4rem;
}
.yqs-mask .tree img {
  width: 3.11rem;
  height: 2.35rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.4rem;
}
.yqs-mask .tree button {
  -webkit-appearance: none;
  background: #FF9B00;
  color: #fff;
  border: none;
  border-radius: 0.28rem;
  height: 0.56rem;
  line-height: 0.56rem;
  padding: 0 0.59rem;
  font-weight: bold;
  text-align: center;
}
.yqs-mask .tree:before {
  content: "";
  position: absolute;
  left: 0.2rem;
  bottom: -0.18rem;
  width: 1.08rem;
  height: 1.12rem;
  background: url("../images/dog.png") no-repeat center;
  background-size: 100%;
}
.heart-mask {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
}
.heart-mask .heart-white {
  width: 4.8rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0.48rem 0.37rem;
  border-radius: 6px;
}
.heart-mask .heart-white img {
  width: 2.21rem;
  height: 1.89rem;
}
.heart-mask .heart-white button {
  -webkit-appearance: none;
  background: #F33E34;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  height: 0.6rem;
  width: 2.4rem;
  line-height: 0.6rem;
  text-align: center;
}
.heart-mask .heart-white .gongxi {
  font-size: 0.26rem;
  font-weight: bold;
  color: #333;
  margin-top: 0.22rem;
  margin-bottom: 0.36rem ;
}
.heart-mask .heart-white .info {
  font-size: 0.24rem;
  color: #878787;
  line-height: 0.26rem;
  text-align: left;
  margin-bottom: 0.54rem;
}
.heart-mask .badinfo button {
  width: 1.95rem;
  font-weight: normal;
}
.heart-mask .badinfo .cancel {
  background-color: #CCC4C4;
}
.pep-infomask {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  padding: 0 0.46rem;
}
.pep-infomask .changepepinfo {
  background-color: #fff;
  width: 5.8rem;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pep-infomask .changepepinfo .tit {
  padding: 0 0.2rem;
  color: #333;
  border-bottom: 1px solid #E6E6E6;
  height: 0.8rem;
  line-height: 0.8rem;
  background: #ECECF1;
  border-radius: 3px 3px 0 0;
  position: relative;
}
.pep-infomask .changepepinfo .tit .close {
  width: 0.6rem;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  position: absolute;
  top: 0.05rem;
  right: 0.16rem;
  border-radius: 50%;
  color: #fff;
  font-size: 0.4rem;
}
.pep-infomask .changepepinfo .info-inp {
  padding: 0 0.2rem;
}
.pep-infomask .changepepinfo .info-inp p {
  color: #F33E34;
  font-size: 12px;
  margin-top: 0.1rem;
  margin-bottom: 0.15rem;
}
.pep-infomask .changepepinfo .info-inp input {
  -webkit-appearance: none;
  height: 0.8rem;
  width: 100%;
  border: 1px solid #cbc6c6;
  border-radius: 3px;
  margin-bottom: 0.25rem;
  padding-left: 0.1rem;
  line-height: 0.3rem;
}
.pep-infomask .changepepinfo .info-inp .redxing {
  position: relative;
}
.pep-infomask .changepepinfo .info-inp .redxing:before {
  content: "*";
  position: absolute;
  width: 0.22rem;
  height: 0.22rem;
  left: -0.1rem;
  top: 0;
  font-size: 0.2rem;
  color: #F33E34;
}
.pep-infomask .changepepinfo .info-inp .save-pepinfo {
  background-color: #60d060;
  -webkit-appearance: none;
  color: #fff;
  width: 100%;
  height: 0.8rem;
  line-height: 0.6rem;
  border-radius: 3px;
  margin-bottom: 0.3rem;
  border: none;
  font-size: 16px;
}
.pep-infomask .changepepinfo .info-inp #s1 {
  -webkit-appearance: none;
  height: 0.8rem;
  width: 30%;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 0.4rem;
  float: left;
  border: 1px solid #cbc6c6;
  padding-left: 0.1rem;
  font-size: 14px;
}
.pep-infomask .changepepinfo .info-inp #s2 {
  float: right;
  height: 0.8rem;
  width: 65%;
  border: 1px solid #cbc6c6;
  padding-left: 0.1rem;
  border-radius: 3px;
  font-size: 14px;
}
.money-tree .backhome {
  position: absolute;
  left: 0.4rem;
  bottom: 3rem;
  width: 1.35rem;
  height: 1.53rem;
  background: url(../images/huijia.png) no-repeat center;
  background-size: 100%;
}
.money-tree .left-cont .stealtree {
  background: url(../images/toushu.png) no-repeat center;
  background-size: 0.95rem 1rem;
}
